@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'nextra-theme-docs/style.css'; */

:root {
  /* Your default theme */
  --background: red;
  --foreground: red;
}

[data-theme='dark'] {
  --background: red;
  --foreground: red;
}

html, body {
  height: 100%;
  /* 移动端触摸优化 */
  touch-action: manipulation;
}

/* 移动端点击响应优化 */


.border-marquee {
  --marquee-color: #6366f1;
  --marquee-bg: transparent;
  border-radius: 1rem;
  padding: 4px;
  background: conic-gradient(
    from 0deg,
    var(--marquee-color) 0deg 40deg,
    var(--marquee-bg) 60deg 360deg
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  box-sizing: border-box;
  animation: marquee-rotate 2s linear infinite;
}
@keyframes marquee-rotate {
  to {
    background-position: 360deg 0;
  }
}
