.bannerTitle {
    font-size:48px;
    /* font-weight:bold; */
    text-align: center;
    font-family: var(--mantine-font-family-headings);
}

.bannerDes {
    font-size:20px;
    text-align: center;
    color: var(--mantine-color-gray-text)
}

.bannerAchievement {
    display: flex;
    justify-content: center;
}

.rate {
    display: flex;
    align-items: center;
}