.signin {
    display: flex;
    height: 100%;
}

.siginBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinBanner {
    width: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mantine-primary-color-light-hover)
}